.idea
.idea/
.idea/*
/BackEnd/stable_diffusion/models/
/BackEnd_Rebuild/images/
/BackEnd/out/samples/
/BackEnd/sd_rebuild/images/
/service/config.json
/web/node_modules
/web/.quasar
/web/dist/spa
/service/__pycache__/*
/service/ldm/__pycache__
service/ldm/models/diffusion/__pycache__
service/ldm/modules/__pycache__
service/stable_diffusion/__pycache__/
service/utility/__pycache__/
service/web_components/__pycache__/
service/ldm/modules/diffusionmodules/__pycache__/