.idea
.idea/
.idea/*
/BackEnd/stable_diffusion/models/
/BackEnd_Rebuild/images/
/BackEnd/out/samples/
/BackEnd/sd_rebuild/images/
/service/config.json
/web/node_modules
/web/.quasar
/web/dist/spa
*.pyc
./FrontEndv2.0/node_modules
./FrontEndv2.0/quasar-project/.vscode
./fbapi_fetch/quasar-project/.vscode
./FrontEndv2.0LinkedInApi/quasar-project/.vscode

/service/images/
web/node_modules
/service/stable_diffusion/images
/config.json

