einops
Flask==2.2.2
Flask_Cors==3.0.10
k_diffusion==0.0.12
lark
loguru
matplotlib
numpy
omegaconf
opencv_python_headless==4.6.0.66
Pillow
rich
safetensors
service
torch==1.13.1
torchmetrics==0.6.0
transformers==4.19.2
tweepy==4.12.1
diffusers==0.10.2
pytorch_lightning==1.4.2
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
python3-linkedin
python3-facebook


